<h1><strong>Book</strong></h1>

<div>
	<table>
		<tr>
			<th>Title</th>
			<th>Body</th>
		</tr>
		<% @books.each do |book| %>
			<tr>
				<th><%= book.title %></th>
				<th><%= book.body %></th>
			</tr>
		<% end %>
	</table>
</div>


<div>
	<h4>New book</h4>
	<%= form_for(@book) do |f| %>
		<!-- タイトル -->
		<div class="field">
			<%= f.label :title  %>
			<%= f.text_field :title %>
		</div>

		<!-- 本文 -->
		<div class="field">
			<%= f.label :body %>
			<%= f.text_area :body %>
		</div>

		<!-- 送信ボタン -->
		<div class="field">
			<%= f.submit 'Create Book' %>
		</div>
	<% end %>
</div>
